@import '../../lib/toolbox.styl'

.root
  h3
    margin-bottom: 0

.tableWrapper
  width: 100%
  overflow: auto
  padding-bottom: 15px

.smallIcon
  font-size: .9em

.spacer
  display: inline-block
  min-width: 15px
  text-align: left

.table
  font-size: 14px
  border-collapse: collapse;
  min-width: 100%
  white-space: nowrap

  thead
    font-weight: bold

  tbody tr:hover td
    background: rgba(white, .05)

  td
    border-bottom: 1px solid #dedede;
    padding: 5px
    transition: all 75ms ease-in-out

.nightfallSummary
  font-size: 13px;

  td
    padding: 1px 0
    border: none

  td + td
    padding-left: 8px

.grey
  opacity: .75
  text-align: center

.thisNightfall
  font-weight: bold

.bold
  font-weight: bold

  &,
  & > *
    opacity: 1

.nightfallLink
  color: inherit
  text-decoration: none

.addPlayerModal
  width: 500px
  max-width: 100%
  background: white
  border-radius: 2px
  padding: 15px

  +darkMode()
    background: $dm-background

.option
  display: inline-block
  opacity: .5
  cursor: pointer
  transition: all 150ms ease-in-out

  & + &
    padding-left: 15px

.optionActive
  composes: option
  opacity: 1
