/* Add your styles here */
.hero#roi-roster-banner {
  background-image: url('/assets/img/80.jpg');
  position: relative;
}

.hero#roi-roster-banner .hero-content {
  z-index: 200;
}

.hero#roi-roster-banner h1 {
  margin-top: 0;
}

.hero#roi-roster-banner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 100;
}

.memberList {
  min-height: 720px;
}

.memberList-title {
  margin-bottom: 2.618rem;
}

.memberList-title h2 {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .memberList-title {
    text-align: center;
  }

  .memberList-title h2 {
    margin-bottom: 1.618rem;
  }
}

.memberList-header {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
}

@media screen and (max-width: 767px) {
  .memberList-header {
    display: none;
  }
}

.memberList-search input {
  border: 0;
  border-bottom: 2px solid #e3d081;
  border-radius: 0 !important;
  display: block;
  padding: .618rem 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .memberList-search input {
    text-align: center;
  }
}

.member {
  border-bottom: 2px solid #ccc;
  padding: 1rem;
}

.member h3 {
  margin: 0;
}

.member.exalted {
  background: lighten(#e3d081, 26%);
}

.member.exalted h3 {
  color: darken(#e3d081, 16%);
}

@media screen and (max-width: 767px) {
  .member {
    text-align: center;
  }
}

.member-icon img {
  border-radius: 50%;
  display: block;
  height: 36px;
  width: 36px;
}

@media screen and (max-width: 767px) {
  .member-icon img {
    height: 48px;
    margin: auto;
    width: 48px;
  }
}

span.member-online {
  color: #C3423F;
}

span.member-online.online {
  color: #4DAA57;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
