@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	overflow: hidden;
}

body{
	min-height: 100%;
	font-family: "arial", "sans-serif";
	background-color: #434444;
	color: white;
	opacity: 0;
	transition: 1s;
}

*{
	box-sizing: border-box;
}

p {
	margin: 0;
}

.wrapper {
	position: relative;
	text-align: center;
	.container {
		position: relative;
		width: 70%;
		height: 100vh;
		margin:	auto;
		overflow: hidden;
		background-color: rgba(245, 245, 245, 0.25);

		nav {
			h1 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;

				margin: 0;
				background-color: #222;
				color: #C9AE4B;
			}
			h1::before {
				content: "\2726";
				display: inline-block;
				vertical-align: 25%;
				font-size: 50%;
				margin-right: 10px;
			}
			h1::after {
				content: "\2726";
				display: inline-block;
				vertical-align: 25%;
				font-size: 50%;
				margin-left: 10px;
			}
		}

		.loggedPlayer {
		    text-align: left;
			.profilePicture {
				min-width: 100px;
				float: left;
				width: 10%;
				height: inherit;
				border: 1px solid black;

				img {
					width: 100%;
				}
			}
			.playerPlatform {
				min-width: 100px;
				float: right;
				width: 10%;
				height: inherit;
				border: 1px solid black;
				img {
					width: 100%;
				}
			}
			.displayName {

			}
			.playerInfo {
				height: inherit;
				border: 1px solid black;

				.totalPlaytime {
					border: 1px solid black;
				}
				.lastConnection {
					border: 1px solid black;
				}
			}
		}
		.clear {
			clear: both;
		}
		.characters {
			opacity: 0;
			transition: 1s;
			border: 1px solid black;
			height: 100vh;
			.character {
				position: relative;
				border: 3px solid #C9AE4B;
				display: inline-block;
				width: 30%;
				height: 50vh;
				margin: 20px 10px;
				.emblem {
					position: relative;
					border-bottom: 3px solid #c9ae4b;
					img {
						width: 100%;
					}
					.class {
						position: absolute;
						top: 5%;
						left: 20%;
						font-size: 20px
					}
					.race {
						position: absolute;
						top: 40%;
						left: 20%;
						font-size: 12px;
					}
					.gender {
						position: absolute;
						top: 65%;
						left: 20%;
						font-size: 12px;
					}
					.baseLevel {
						position: absolute;
						top: 60%;
						right: 5%;
					}
					.lightLevel {
						position: absolute;
						top: 5%;
						right: 5%;
						font-size: 26px;
						color: #C9AE4B;
					}
					.lightLevel::before {
						content: "\2726";
    					display: inline-block;
    					vertical-align: 25%;
    					font-size: 50%;
					}
				}
				.playtime {

				}
			}
		}
	}
}
