#this-week {
  padding: 0;
  display: grid;
  margin: 0 auto;
  width: 100%;
}

#this-week > .padder,
#this-week > .module.head {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3rem;
}

#this-week > .module.head {
  padding: 4rem 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

/* #this-week > .module.head .page-header {
  margin-bottom: 0rem;
} */

#this-week > .module.head .text p {
  font-size: 16px;
}

#this-week .module .content.highlight .module-header {
  margin: 24px 0 0;
}




#this-week .module .sub-header ~ .sub-header {
  margin: 3rem 0 1rem;
}

#this-week .module .module-header {
  position: relative;
  margin: 48px 0 0;
}

#this-week .module .module-header .sub-name,
#this-week .module h3 {
  color: rgba(255, 255, 255, 0.8);
}

#this-week .module .module-header .sub-name {
  font-size: 18px;
}

#this-week .module .module-header::after {
  content: ' ';
  position: absolute;
  top: -12px;
  left: 0;
  width: 16px;
  border-bottom: 3px solid #ffffff;
  opacity: 0.2;
}

#this-week .module .page-header .sub-title,
#this-week .module .module-header .sub-title {
  margin: 0 0 3px;
  font-size: 18px;
}

#this-week .module .module-header .name {
  font-size: 32px;
  line-height: 1;
  font-weight: 500;
}

#this-week .module .content:first-child .module-header {
  margin: 12px 0 0;
}

#this-week .module h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  margin: 20px 0 14px;
}

#this-week .module .content .aside {
  margin: 10px 0 0;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.4);
}

#this-week .module .record-items,
#this-week .module .collection-items,
#this-week .module .inventory-items {
  grid-template-columns: 1fr;
}

#this-week .module:not(.head) .content + .content {
  margin: 2rem 0 0;
}

#this-week .module .list + .list {
  margin: 7px 0 0;
}

#this-week .module .collection-items li {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.4);
}

#this-week .module .collection-items li.completed {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

#this-week .module .collection-items li .image.dl {
  opacity: 0.4;
}

#this-week .module .collection-items li.completed .image.dl {
  opacity: 1;
}

#this-week .module .collection-items li:hover,
#this-week .module .inventory-items li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

#this-week .module .list.modifiers li {
  padding: 0 0rem;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-template-rows: 1fr;
  align-items: start;
  height: unset;
  margin: 0 0 14px;
}

#this-week .module .list.modifiers li:last-child {
  margin: 0;
}

#this-week .module .list.modifiers li .icon {
  padding: 3px 0 0;
}

#this-week .module .list.modifiers li .icon .image {
  position: relative;
  height: 32px;
  width: 32px;
}

#this-week .module .list.modifiers li .text {
  margin: 0 0 0 1rem;
  font-size: 14px;
}

#this-week .module .list.modifiers li .text .name {
  margin: 0 0 3px;
}

#this-week .module .list.modifiers li .text .description {
  white-space: pre-line;
  color: rgba(255, 255, 255, 0.4);
}

#this-week .module .raid-challenge {
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 1rem;
  align-items: flex-start;
}

#this-week .module .raid-challenge .name {
  margin: 0 0 3px;
}

#this-week .module .raid-challenge .description {
}

#this-week .module .raid-challenge .description p {
  color: rgba(255, 255, 255, 0.4);
  line-height: normal;
}

@media screen and (max-width: 1440px) {
  #this-week > .padder,
  #this-week > .module.head {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  #this-week > .padder,
  #this-week > .module.head {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  #this-week > .padder,
  #this-week > .module.head {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #this-week .module .sub-header ~ .sub-header {
    margin: 2rem 0 1rem;
  }

  #this-week h3 {
    margin: 0 0 1rem;
  }

  #this-week .module .module-header .name {
    font-size: 27px;
  }
}






