.list.ranks li {
  height: unset;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.03);
}

.list.ranks li .icon {
  background-color: rgba(255, 255, 255, 0.07);
}

.list.ranks li .icon .image {
  position: relative;
  width: 96px;
  height: 96px;
  background-size: 80%;
}

.list.ranks li .data {
  width: 100%;
  height: 96px;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1.2fr 1.8fr 2fr;
  grid-gap: 1rem;
  align-content: center;
}

.list.ranks li .data .name {
  margin: 7px 0 0;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.list.ranks li .data .value {
  position: relative;
  height: 18px;
  font-size: 18px;
  line-height: 1;
}

.list.ranks li .data .value .spinner {
  position: absolute;
  bottom: 0;
}

.list.ranks li .progress-bar {
  margin: 0;
}

.list.ranks li .progress-bar.step {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.list.ranks li .progress-bar.total {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
}

.list.ranks li .progress-bar .bar {
  background-color: transparent;
}

.list.ranks li .progress-bar .bar .text {
  display: none;
}

.list.ranks li .progress-bar .bar .fill {
  background-color: white;
}

.list.ranks li .progress-bar.step .bar .fill {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
}

.list.ranks li .progress-bar.step .bar .fill::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 200%;
  opacity: 0.2;
  animation: animation-subtle-progress 8s linear 0s infinite;
}

@keyframes animation-subtle-progress {
  0% {
    background-position-x: 200%;
  }
  60%, 100% {
    background-position-x: -200%;
  }
}



@media screen and (max-width: 600px) {
  .list.ranks li .icon .image {
    position: relative;
    width: 66px;
    height: 66px;
  }

  .list.ranks li .data {
    height: 66px;
  }

  .list.ranks li .data .value {
    height: 14px;
    font-size: 14px;
  }

  .list.ranks li .data .name {
    margin: 7px 0 0;
    font-size: 10px;
    line-height: 12px;
  }

}