.collectibles-search {
  padding: 0 0 1rem;
}

.collectibles-search.has-results {
  padding: 0 0 2rem;
}

.collectibles-search .list.collection-items {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  .collectibles-search .list.collection-items {
    grid-template-columns: 1fr;
  }
}