.root
  position: relative
  display: inline-block

.coverImage
  display: block
  height: 100%
  max-height: 200px

.overlay
  display: flex
  flex-direction: row
  align-items: flex-end
  position: absolute
  bottom: 0
  color: white
  left: 0
  right: 0
  min-height: 50%
  padding-top: 15px
  background: linear-gradient(
    180deg,
    rgba(black, 0) 0,
    rgba(black, 60%) 100%
  )

.text
  padding: 10px
  font-size: 18px

.mode
  font-weight: bold

.activity
  opacity: .8
  font-size: .85em
  margin-top: 2px
