@import '../../../../../../src/assets/scss/includes';

main {
    padding: $spacing-normal;
    position: relative;
    @include z-index-2;
}

h1 {
    font-size: $type-larger;
    margin-top: 0;
    @media #{$mobile} {
        font-size: $type-large;
    }
}

.asc-destiny-nav {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: $spacing-normal;
}

.asc-destiny-lookup-wrapper {
    @include justify-center;
    @include vertical-center;
    margin-top: $spacing-normal;
    min-height: 420px;
}

.asc-badge {
    border-radius: 50%;
    height: 16px;
    width: 16px;
}

