<asc-hero size="large" [bannerUrl]="'/assets/images/ascendant-destiny-2-banner.jpg'">
    <div style="max-width: 960px">
            <h1 asc-color="primary">Destiny 2</h1>
            <p asc-color="light">
                {{info.name}} was originally founded as a Destiny 2 clan.
            </p>
            <p asc-color="light">
                We run raids every week with plenty of quickplay, comp, and scrims in between. Looking for an active D2 clan?
                You've come to the right place.
            </p>
            <button mat-raised-button color="accent" routerLink="/apply">Apply to Join</button>
        </div>
</asc-hero>
<main>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <mat-card class="mat-elevation-z3 asc-destiny-nav">
                <mat-nav-list>
                    <a
                        mat-list-item
                        routerLink="/destiny"
                        routerLinkActive="asc-active-route"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <span>Roster</span>
                    </a>
                    <a
                        mat-list-item
                        routerLink="leaderboards"
                        routerLinkActive="asc-active-route"
                    >
                        <span>Leaderboards</span>
                    </a>
                    <a
                        mat-list-item
                        routerLink="lookup"
                        routerLinkActive="asc-active-route"
                    >
                        <span>Player Lookup</span>
                    </a>
                    <a
                        mat-list-item
                        routerLink="events"
                        routerLinkActive="asc-active-route"
                    >
                        <span>Events</span>
                    </a>
                </mat-nav-list>
            </mat-card>
        </div>
        <div class="col-xs-12 col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
