@import url('https://fonts.googleapis.com/css?family=Merriweather');

#legend {
  padding: 4rem 0 0;
  padding: 0;
  display: block;
  overflow: hidden;
}

#legend .section .datum {
  padding: 4rem 0 2rem 3rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  align-content: flex-start;
}

#legend .section .datum .d.w,
#legend .section .datum .t.w {
  grid-column: 1/3;
}

#legend .section .datum .d span {
  text-transform: lowercase;
}

#legend .section .datum .d .b {
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 6px;
}

#legend .section .datum .d .v {
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#legend .section .datum .d .n {
  margin: 6px 0 0;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 6px;
}

#legend .section .datum .t {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

#legend .section .fireteam {
  pointer-events: none;
}

#legend .section .fireteam .list li .icon {
  position: relative;
  width: 38px;
  height: 38px;
}

#legend .section .fireteam .list li .displayName {
  font-size: 16px;
  padding: 0 16px;
}

#legend .section .summary .state {
  position: relative;
  padding: 3rem 0 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

#legend .section.characters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#legend .section.characters .character {
  position: relative;
}

#legend .section.characters .character .bg {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#legend .section.characters .character .bg.void {
  background: linear-gradient(217deg, hsla(281, 71%, 46%, 0.8), hsla(281, 71%, 46%, 0) 70.71%), 
              linear-gradient(127deg, hsla(317, 13%, 21%, 0.8), hsla(317, 13%, 21%, 0) 70.71%), 
              linear-gradient(336deg, hsla(254, 71%, 41%, 0.8), hsla(254, 71%, 41%, 0) 70.71%);
}

#legend .section.characters .character .bg.solar {
  background: linear-gradient(217deg, hsla(6, 97%, 40%, 0.8), hsla(6, 97%, 40%, 0) 70.71%), 
              linear-gradient(127deg, hsla(11, 96%, 70%, 0.8), hsla(11, 96%, 70%, 0) 70.71%), 
              linear-gradient(336deg, hsla(58, 96%, 50%, 0.8), hsla(6, 96%, 50%, 0) 70.71%);
}

#legend .section.characters .character .bg.arc {
  background: linear-gradient(217deg, hsla(177, 72%, 57%, 0.8), hsla(177, 72%, 57%, 0) 70.71%), 
              linear-gradient(127deg, hsla(213, 30%, 30%, 0.8), hsla(213, 30%, 30%, 0) 70.71%), 
              linear-gradient(336deg, hsla(217, 100%, 41%, 0.8), hsla(217, 100%, 41%, 0) 70.71%);
}

#legend .section.characters .character .bg .insignia {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.05;
}

#legend .section.characters .character .bg .insignia.warlock {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 488' fill='black'><path d='M512,0l86,132L512,262,426,132ZM0,488,320,0l86,132L172,488Zm192,0L416,148l86,130L364,488Zm320,0H384L512,294,640,488Zm148,0L522,278l86-130L832,488Zm192,0L618,132,704,0l320,488Z'/></svg>");
}

#legend .section.characters .character .bg .insignia.titan {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 925.15911 1023.9991' fill='black'><path d='M19.769,747.2425l387.459-223.382q19.768-11.861,0-23.722L19.769,276.75647q-7.907-5.931-13.838-1.977T0,288.6175v446.765q0,9.884,5.931,13.838t13.838-1.977Zm498.162-223.382,387.459,223.382q7.907,5.93106,13.838,1.977t5.931-13.838v-446.765q0-9.884-5.931-13.838t-13.838,1.977l-387.459,223.382q-19.768,11.861,0,23.722ZM57.329,253.03452l387.459,223.382q21.745,11.861,41.514,0L873.761,253.0345q19.768-11.861,0-23.722L486.30205,5.9305q-19.768-11.861-41.514,0L57.329,229.3125q-19.768,11.861,0,23.722Zm816.432,517.93-387.459-223.382q-19.768-11.861-41.514,0L57.329,770.96454q-19.768,11.861,0,23.722l387.459,223.382q21.745,11.86112,41.514,0l387.459-223.382Q893.529,782.82542,873.761,770.96454Z'/></svg>");
}

#legend .section.characters .character .bg .insignia.hunter {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 932 1024' fill='black'><path d='M932,692H708l224,332H708L466,664,224,1024H0L224,692H0L224,360H0L242,0H466L242,332H466L242,664H690L466,332H690L466,0H690L932,360H708Z'/></svg>");
}

#legend .section.characters .character .bg .art {
  position: relative;
  margin: 3rem 0 0;
  right: -3rem;
  width: 70%;
  align-self: end;
}

#legend .section.characters .character .bg .art .image {
  position: relative;
  width: 100%;
  height: unset;
  padding-bottom: 100%;
}

#legend .section.characters .character .bg .art .name {
  position: absolute;
  top: 70%;
  left: 20%;
  width: 60%;
}

#legend .section.characters .character .bg .art .name .top,
#legend .section.characters .character .bg .art .name .bottom {
  position: relative;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

#legend .section.characters .character .bg .art .name .top::before,
#legend .section.characters .character .bg .art .name .top::after {
  content: ' ';
  position: absolute;
  top: -1px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

#legend .section.characters .character .bg .art .name .top::after {
  left: unset;
  right: 0;
}

#legend .section.characters .character .bg .art .name .bottom::before,
#legend .section.characters .character .bg .art .name .bottom::after {
  content: ' ';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 10px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

#legend .section.characters .character .bg .art .name .bottom::after {
  left: unset;
  right: 0;
}

#legend .section.characters .character .bg .art .name .text {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.6);
}

#legend .section.characters .character .datum {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

#legend .section.characters .character .datum .d .v.l {
  position: relative;
  margin: 0 0 0 14px;
  color: #e5d163;
}

#legend .section.characters .character .datum .d .v.l::before {
  content: 'l';
  position: absolute;
  top: 4px;
  left: -14px;
  font-family: 'destiny' !important;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#legend .section.strikes {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#legend .section.strikes .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(217deg, hsla(217, 35%, 21%, 0.8), hsla(217, 35%, 21%, 0.1) 70.71%), 
              linear-gradient(127deg, hsla(213, 30%, 30%, 0.8), hsla(213, 30%, 30%, 0.1) 70.71%), 
              linear-gradient(336deg, hsla(217, 35%, 21%, 0.8), hsla(217, 35%, 21%, 0.1) 70.71%);
}

#legend .section.strikes .bg::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24'><circle cx='1' cy='1' r='1' fill='white' ></circle></svg>");
  opacity: 0.07;
}

#legend .section.strikes .top {
  position: relative;
}

#legend .section.strikes .top .image.pgcrImage {
  background-size: cover;
  width: 120%;
  mask-image: linear-gradient(90deg, hsla(217, 35%, 21%, 0.7) 20.71%, hsla(217, 35%, 21%, 0.8) 55.71%, hsla(217, 35%, 21%, 0));
}

#legend .section.strikes .top .head {
  position: relative;
  padding: 2rem 0 7rem 3rem;
}

#legend .section.strikes .top .head .page-header .description {
  max-width: 21rem;
}

#legend .section.strikes .top .properties {
  position: relative;
  margin: 0 0 0 3rem;
}

#legend .section.strikes .top .properties .desc {
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 6px;
}

#legend .section.strikes .top .properties .name {
  font-size: 38px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#legend .section.strikes .top .properties .score {
  font-size: 48px;
  line-height: 1;
  font-weight: 600;  
  display: inline-block;
  position: relative;
}

#legend .section.strikes .top .properties .score::before {
  content: ' ';
  position: absolute;
  top: -16px;
  left: -16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #ffffff;
  opacity: 0.2;
}

#legend .section.strikes .top .fireteam {
  position: relative;
  margin: 3rem 0 3rem 3rem;
  width: 340px;
}

#legend .section.strikes .chart {
  padding: 3rem;
}

#legend .section.strikes .chart ul li {
  height: unset;
  font-size: 14px;
  margin: 0 0 6px;
  padding: 0 0 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#legend .section.strikes .chart ul li:first-child {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 6px;
  padding: 0 0 1rem;
}

#legend .section.strikes .chart ul li:last-child {
  margin: 0;
}

#legend .section.strikes .chart ul li.lowScore {
  color: rgba(255, 255, 255, 0.4);
}

#legend .section.strikes .chart ul li .score {
  text-align: right;
}

#legend .section.strikes .chart ul li:not(:first-child) .score {
  font-size: 18px;
}

#legend .section.strikes .summary .datum {
  grid-template-columns: repeat(2, 1fr);
}

#legend .section.strikes .summary .state {
  padding: 3rem;
}

#legend .section.raids {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  min-height: 77vh;
}

#legend .section.raids .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(217deg, hsla(214, 63%, 5%, 0.8), hsla(214, 63%, 5%, 0.1) 70.71%), 
              linear-gradient(127deg, hsla(214, 100%, 10%, 0.8), hsla(214, 100%, 10%, 0.1) 70.71%), 
              linear-gradient(336deg, hsla(356, 100%, 67%, 0.8), hsla(356, 79%, 67%, 0.1) 70.71%);
}

#legend .section.raids .bg::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewbox='0 0 24 24'><circle cx='1' cy='1' r='1' fill='white' ></circle></svg>");
  opacity: 0;
}

#legend .section.raids .summary {
  padding: 3rem;
}

#legend .section.raids .first {
  position: relative;
}

#legend .section.raids .first .image.pgcrImage {
  background-size: cover;
  width: 120%;
  mask-image: linear-gradient(90deg, hsla(217, 35%, 21%, 0.7) 20.71%, hsla(217, 35%, 21%, 0.8) 55.71%, hsla(217, 35%, 21%, 0));
}

#legend .section.raids .first .head {
  position: relative;
  padding: 2rem 0 7rem 3rem;
}

#legend .section.raids .first .head .page-header .description {
  max-width: 21rem;
}

#legend .section.raids .first .properties {
  position: relative;
  margin: 0 0 0 3rem;
}

#legend .section.raids .first .properties .desc {
  line-height: 1;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 6px;
}

#legend .section.raids .first .properties .name {
  font-size: 38px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#legend .section.raids .first .properties .score {
  font-size: 48px;
  line-height: 1;
  font-weight: 600;  
  display: inline-block;
  position: relative;
}

#legend .section.raids .first .properties .score::before {
  content: ' ';
  position: absolute;
  top: -16px;
  left: -16px;
  padding: 16px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px #ffffff;
  opacity: 0.2;
}

#legend .section.raids .first .fireteam {
  position: relative;
  margin: 3rem 0 3rem 3rem;
  width: 340px;
}

#legend .section.raids .summary {
  padding: 3rem;
  grid-column: 2/4;
}

#legend .section.raids .chart ul li {
  height: unset;
  font-size: 14px;
  margin: 0 0 6px;
  padding: 0 0 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}

#legend .section.raids .chart ul li:first-child {
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 6px;
  padding: 0 0 1rem;
}

#legend .section.raids .chart ul li:last-child {
  margin: 0;
}

/* #legend .section.raids .chart ul li .fastest {
  text-align: right;
} */

#legend .section.raids .datum {
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 0 0;
}

#legend .section.raids .notes {
  position: relative;
  padding: 3rem 0 0;
  font-size: 14px;
  max-width: 30rem;
  color: rgba(255, 255, 255, 0.6);
}


@media screen and (max-width: 1760px) {
  #legend .section.strikes,
  #legend .section.raids {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #legend .section.strikes .top .properties .name {
    font-size: 24px;
  }

  #legend .section.strikes .top .properties .score {
    font-size: 38px;
  }

  #legend .section.raids .first .properties .name {
    font-size: 24px;
  }

  #legend .section.raids .first .properties .score {
    font-size: 38px;
  }
}

@media screen and (max-width: 1024px) {
  #legend .section.characters,
  #legend .section.strikes,
  #legend .section.raids {
    grid-template-columns: repeat(1, 1fr);
  }

  #legend .section.strikes .top .image.pgcrImage {
    width: 100%;
    height: 130%;
    mask-image: linear-gradient(180deg, hsla(217, 35%, 21%, 0.9) 0%, hsla(217, 35%, 21%, 0.7) 60%, hsla(217, 35%, 21%, 0));
  }

  #legend .section.strikes .top .fireteam {
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    padding: 0 3rem;
    width: 100%;
    margin: 3rem 0 2rem;
  }

  #legend .section.raids .first .image.pgcrImage {
    background-position-x: 73%;
    width: 100%;
    height: 130%;
    mask-image: linear-gradient(180deg, hsla(217, 35%, 21%, 0.9) 0%, hsla(217, 35%, 21%, 0.7) 60%, hsla(217, 35%, 21%, 0));
  }

  #legend .section.raids .first .fireteam {
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    padding: 0 3rem;
    width: 100%;
    margin: 3rem 0 2rem;
  }

  #legend .section.raids .summary {
    grid-column: auto;
  }
}

@media screen and (max-width: 600px) {
  #legend .section .datum {
    padding: 3rem 0 2rem 2rem;
    width: 100%;
  }

  #legend .section .datum .d .v {
    font-size: 18px;
  }

  #legend .section .datum .d .n {
    margin: 4px 0 0;
    font-size: 14px;
  }

  #legend .section.characters .character .datum .d .v.l {
    margin: 0 0 0 10px;
  }

  #legend .section.characters .character .datum .d .v.l::before {
    top: 3px;
    left: -10px;
    font-size: 8px;
  }

  #legend .section.strikes .top .head {
    padding: 2rem 0 7rem 2rem;
  }

  #legend .section.strikes .top .properties {
    margin: 0 0 0 2rem;
  }

  #legend .section.strikes .top .fireteam {
    padding: 0 2rem;
  }

  #legend .section.strikes .chart {
    padding: 2rem;
  }
  
  #legend .section.strikes .summary .datum {
    padding: 1rem 0 3rem 2rem;
  }

  #legend .section.strikes .summary .state {
    padding: 2rem;
  }

  #legend .section.raids .first .head {
    padding: 2rem 0 7rem 2rem;
  }

  #legend .section.raids .first .properties {
    margin: 0 0 0 2rem;
  }

  #legend .section.raids .first .fireteam {
    padding: 0 2rem;
  }

  #legend .section.raids .summary {
    padding: 2rem;
  }

  #legend .section.raids .chart ul li {
    grid-template-columns: 2fr 1fr;
  }

  #legend .section.raids .summary .chart ul li div {
    display: none;
  }

  #legend .section.raids .summary .chart ul li .normal {
    text-align: right;
  }

  #legend .section.raids .summary .chart ul li .name,
  #legend .section.raids .summary .chart ul li .normal {
    display: inherit;
  }

  #legend .section.raids .datum {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0 0;
  }

}
