<h2 asc-color="primary" style="margin-top: 0;">Player lookup</h2>
<p>Find a Destiny 2 player by username and view their stats.</p>
<div style="margin: 1rem 0;">
    <mat-button-toggle-group (change)="setPlatform($event)">
        <mat-button-toggle *ngFor="let option of platformOptions" [value]="option.value">
            {{option.display}}
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<mat-form-field style="display: block; width: 100%; margin-bottom: 1rem;">
    <input #DestinyLookup matInput name="battleTagLookup" placeholder="Player name"
        (keydown)="listenForEnter($event)">
</mat-form-field>
<button mat-raised-button color="primary" (click)="playerLookup(DestinyLookup.value)">
    Look Up
</button>
<asc-backdrop #lookupBackdrop>
    <asc-color-block [color]="lookupStats.failure ? 'warn' : 'primary'">
        <h1 asc-color="dark">{{DestinyLookup.value}}</h1>
    </asc-color-block>
    <asc-destiny-lookup [username]="username" [platform]="platform" #lookupStats></asc-destiny-lookup>
</asc-backdrop>