---
---
#loading {
  background: rgba(white, .9);
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
section.hero#raids-hero {
  background-image: url('/assets/img/reign-of-iron-raids-banner.jpg');
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.65);
    z-index: 100;
  }
}
.signupSheet-title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.signupSheet {
  margin-bottom: 2.618rem;
}
.signupSheet-wrap {
  background: #fff;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(black,0.1);
}
.signupSheet-empty {
  padding: 2.618rem;
  text-align: center;
}
.signupSheet-header {
  background: #e3d081;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.signupSheet-entry {
  border-bottom: 2px solid #eee;
  padding: 1rem 0;
  &:last-child {
    border-bottom: 0;
  }
  > div {
    @media screen and (max-width: 767px) {
      padding-left: 40%;
      position: relative;
      &::before {
        color: #999;
        content: attr(data-th);
        font-size: .618rem;
        font-weight: 300;
        left: 0;
        padding: 0 1rem;
        position: absolute;
        top: 0;
      }
    }
  }
}
.signupSheet-player {
  font-weight: 700;
}
form.signupForm {
  background: #222;
  padding: 1rem 0;
  input[type="text"],
  select {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #e3d081;
    border-radius: 0;
    color: #fff;
    font-size: .8rem;
    padding: 0 0 .16em;
    -webkit-appearance: none;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      box-shadow: inset 0 2.618rem 0 0 #fff;
    }
  }
  select {
    padding: 0 .26em .16em;
    option {
      color: #222;
    }
  }
	.signupForm-checkboxes {
		border: 0;
		padding: 0;
		legend {
			color: #fff;
		}
	}
  label {
    color: #fff;
    margin-right: 1rem;
  }
  button {
    border: 0;
    -webkit-appearance: none;
  }
  span {
    color: #fff;
  }
}
.signupSheet-options {
	text-align: right;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
