.button {
     position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.77);
  padding: 10px;
  background: white;
    background: #e3d081;
    border-radius: 30px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: .16em;
    padding: 1rem 1.618rem;
    transition: 400ms cubic-bezier(0.32, 0.57, 0.25, 1);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}
  @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
    &:hover {
      background: darken($gold, 10%);
    }
  }
  &.white {
    background: $white;
    color: $dark-blue;
    &.outline {
      background: transparent;
      border: 2px solid $white;
      color: $white;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        background: $black;
        color: $white;
        &.outline {
          background: rgba($white, .2);
          @include boxshadow($glow-white);
        }
      }
    }
  }
  &.gold {
    background: $gold;
    color: $black;
    &.outline {
      background: transparent;
      border: 2px solid $gold;
      color: $gold;
    }
    &.flat {
      background: transparent;
      color: $gold;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        background: $gold;
        color: $black;
        &.outline {
          color: $white;
        }
      }
    }
  }
	&.black {
    background: $black;
    color: $white;
    &.outline {
      background: transparent;
      border: 2px solid $black;
      color: $black;
    }
    &.flat {
      background: transparent;
      color: $black;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        background: $dark-black;
        color: $white;
        &.outline {
					border-color: $dark-black;
          color: $white;
        }
      }
    }
  }
	&.button--flat {
		background: transparent;
		border: 0;
		color: $blue;
		font-weight: 700;
    &.gold {
      color: $gold;
    }
		&:hover {
			background: rgba($darkest-blue, .1);
      &.gold {
        background: rgba($gold, .1);
      }
		}
	}
  &.full-width {
    display: block;
		width: 100%;
  }
	&.disabled {
		opacity: .5;
		pointer-events: none;
	}
	&.button--small-text {
		@media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
			font-size: $type-smaller;
		}
	}
}
a {
  .link-arrow {
    margin-left: .6em;
    transition: 400ms $transition-ease-in;
  }
  @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
    &:hover {
      .link-arrow {
        margin-left: 1em;
      }
    }
  }
}
