// Grid system
.j-row {
  display: block;
  clear: both;
  overflow: hidden;
}

.j-col-1 {
  width: 8.33%;
  width: calc(100% / 12);
}

.j-col-2 {
  width: 16.66%;
  width: calc(100% / 12 * 2);
}

.j-col-3 {
  width: 25%;
}

.j-col-4 {
  width: 33.33%;
  width: calc(100% / 12 * 4);
}

.j-col-5 {
  width: 41.66%;
  width: calc(100% / 12 * 5);
}

.j-col-6 {
  width: 50%;
}

.j-col-7 {
  width: 58.33%;
  width: calc(100% / 12 * 7);
}

.j-col-8 {
  width: 66.66%;
  width: calc(100% / 12 * 8);
}

.j-col-9 {
  width: 75%;
}

.j-col-10 {
  width: 83.33%;
  width: calc(100% / 12 * 10);
}

.j-col-11 {
  width: 91.66%;
  width: calc(100% / 12 * 11);
}

.j-col-12 {
  width: 100%;
}

.push-1 {
  margin-left: 8.33%;
}

.push-2 {
  margin-left: 16.67%;
}

.push-3 {
  margin-left: 25%;
}

.push-4 {
  margin-left: 33.33%;
}

.push-5 {
  margin-left: 41.67%;
}

.push-6 {
  margin-left: 50%;
}

.push-7 {
  margin-left: 58.33%;
}

.push-8 {
  margin-left: 66.67%;
}

.push-9 {
  margin-left: 75%;
}

.push-10 {
  margin-left: 83.33%;
}

.push-11 {
  margin-left: 91.67%;
}

.push-1,
.push-2,
.push-3,
.push-4,
.push-5,
.push-6,
.push-7,
.push-8,
.push-9,
.push-10,
.push-11 {
  @media #{$mobile} {
    margin-left: 0;
  }
}

.j-col {
  display: block;
  float: left;
  box-sizing: border-box;
  padding: 0 $spacing-small;
  &.wrap {
    padding: 0;
  }
  &.j-col-12 {
    float: none;
  }
  @media #{$mobile} {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    padding: 0 20px;
  }
}

@mixin grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.grid-container { // extra support from flexbox, just incase floating starts doing weird jazz
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
