$spacing-smallest:      0.618rem;
$spacing-small:         1rem;
$spacing-normal:        1.618rem;
$spacing-large:         2.618rem;
$spacing-larger:        4.283rem;
$spacing-largest:       6.854rem;
