$transition-ease:          cubic-bezier(0.32, 0.57, 0.25, 1);
$transition-ease-in:       cubic-bezier(0.13, 0.78, 0.3, 0.99);
$transition-pop:           cubic-bezier(0.5, 0.9, 0.75, 1.25);
$transition-bounce:        cubic-bezier(0.75, 0, 0.75, 1.5);
