// Type scale

$type-smaller:    0.618rem;
$type-small:      0.875rem;
$type-base:       1rem;
$type-big:        1.25rem;
$type-large:      1.618rem;
$type-larger:     2.618rem;
$type-largest:    4.263rem;
$type-jumbo:      6.854rem;

.type-smaller {
  font-size: $type-smaller !important;
}
.type-small {
  font-size: $type-small !important;
}
.type-base {
  font-size: $type-base !important;
}
.type-big {
  font-size: $type-big !important;
}
.type-large {
  font-size: $type-large !important;
}
.type-larger {
  font-size: $type-larger !important;
}
.type-largest {
  font-size: $type-largest !important;
}
.type-jumbo {
  font-size: $type-jumbo !important;
}

* {
  font-family: 'Georgia', serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: $type-larger;
}
h2 {
  font-size: $type-large;
}
h3 {
  font-size: $type-big;
}
h4 {
  font-size: $type-small;
  text-transform: uppercase;
  letter-spacing: .26em;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
li {
  color: $black;
  &.white {
    color: $white !important;
  }
  &.lighter-gray {
    color: $lighter-gray !important;
  }
  &.light-gray {
    color: $light-gray !important;
  }
  &.gray {
    color: $gray !important;
  }
  &.dark-gray {
    color: $dark-gray !important;
  }
  &.black {
    color: $black !important;
  }
  &.blue {
    color: $blue !important;
  }
  &.dark-blue {
    color: $dark-blue;
  }
  &.bright-blue {
    color: $bright-blue !important;
  }
  &.orange {
    color: $orange !important;
  }
  &.green {
    color: $green !important;
  }
  &.purple {
    color: $purple !important;
  }
  &.gold {
    color: $gold !important;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

p {
  font-weight: 500;
  color: $black;
  margin-top: 0;
  margin-bottom: $spacing-normal;
  line-height: 1.618em;
  a:not(.button):not(.outline-button) {
    font-weight: 700;
    border-bottom: 1px solid $gold;
    box-shadow: inset 0 -.26em 0 0 $gold;
    transition: 300ms ease-in-out;
    color: inherit;
    &.plain-underline {
      font-weight: 500;
      color: inherit;
      box-shadow: none;
      border-bottom: 2px solid $black;
    }
    @media #{$desktop-sm}, #{$desktop}, #{$desktop-xl} {
      &:hover {
        box-shadow: inset 0 -1.618em 0 0 $gold;
      }
      &.plain-underline {
        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

strong {
  font-weight: 700;
}

ul {
  list-style-type: square;
  -webkit-padding-start: 0;
  padding-left: $spacing-large;
  li {
    line-height: 1.618em;
    padding-left: $spacing-small;
    margin-bottom: $spacing-small;
  }
}

ol {
  -webkit-padding-start: 0;
  padding-left: 0;
  li {
    line-height: 1.618em;
    margin-left: $spacing-normal;
    padding-left: $spacing-smallest;
    margin-bottom: $spacing-small;
  }
}

.strikethrough {
  position: relative;
  &::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include z-index-2;
  }
}
