@mixin z-index-0 {
  z-index: 0;
}

@mixin z-index-1 {
  z-index: 100;
}
@mixin z-index-2 {
  z-index: 200;
}
@mixin z-index-3 {
  z-index: 300;
}
@mixin z-index-4 {
  z-index: 400;
}
@mixin z-index-5 {
  z-index: 500;
}
@mixin z-index-6 {
  z-index: 600;
}
@mixin z-index-7 {
  z-index: 700;
}
@mixin z-index-8 {
  z-index: 800;
}
@mixin z-index-9 {
  z-index: 900;
}
