---
---
.hero#apply {
  background-image: url('/assets/img/Caw5DTB.mp4');
  background-position: center;
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.65);
    z-index: 100;
  }
}
.requirements {
  margin-bottom: 2.618rem;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
form.apply {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(black, .1);
  padding: 2.618rem 1.618rem;
  input[type="text"],
  input[type="number"] {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    transition: 300ms ease;
    -webkit-appearance: none;
    &::placeholder {
      color: #ccc;
    }
    &:focus {
      border-color: #e3d081;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
    &:-webkit-autofill,
    &:-webkit-autofill:hover
    &:-webkit-autofill:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      box-shadow: inset 0 2.618rem 0 0 white;
    }
  }
  input[type="number"] {
    width: 3rem;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  button {
    border: 0;
    color: #333;
  }
  @media screen and (max-width: 767px) {
    input[type="text"] {
      width: 6rem;
    }
    input[name="Referral"] {
      width: 100%;
    }
  }
}
.apply-field {
  margin-bottom: 2.618rem;
  &:last-child {
    margin-bottom: 0
  }
}
