---
---
.hue {
  z-index: 200;}
 {
  -webkit-animation: hue 3s infinite;
}

@-webkit-keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(180deg); }
}

.saturate {
  -webkit-animation: saturate 3s infinite;
}
