---
---
.hero#roi-homepage-banner {
  background-image: url('/assets/img/standoff.jpg');
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.3);
    z-index: 100;
  }
}
