---
---
.hero#roi-maps-banner {
  background-image: url('/assets/img/foresaken-backdrop.jpg');
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.6);
    z-index: 100;
  }
}
.roiMap-search {
  background-color: #f9f9f9;
  padding: 1.618rem;
  input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #e3d081;
    border-radius: 0 !important;
    -webkit-appearance: none;
    width: 100%;
  }
}
.roiMap {
  margin-bottom: 4.263rem;
  img {
    display: block;
    width: 100%;
    margin-bottom: 1.618rem;
  }
}
