---
---
.playerProfile {
  background-color: #f9f9f9;
}
.hero#player-hero  {
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.65);
    z-index: 100;
  }
}
.playerProfile-meta,
.playerProfile-stats {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.player-icon {
  border-radius: 50%;
  height: 128px;
  width: 128px;
}
.playerProfile-content {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 lightgray;
  padding: 1.618rem;
  margin-bottom: 2.618rem;
  h4 {
    color: #e3d081;
    font-size: .8rem;
  }
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centeredfusion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}
