---
---
.hero#roi-roster-banner {
  background-image: url('/assets/img/80.jpg');
  position: relative;
  .hero-content {
    z-index: 200;
  }
  h1 {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.65);
    z-index: 100;
  }
}
.memberList {
  min-height: 720px;
}
.memberList-title {
  margin-bottom: 2.618rem;
  h2 {
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    text-align: center;
    h2 {
      margin-bottom: 1.618rem;
    }
  }
}
.memberList-header {
  padding: 1rem;
  border-bottom: 2px solid #ccc;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.memberList-search {
  input {
    border: 0;
    border-bottom: 2px solid #e3d081;
    border-radius: 0 !important;
    display: block;
    padding: .618rem 0;
    width: 100%;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}
.member {
  border-bottom: 2px solid #ccc;
  padding: 1rem;
  h3 {
    margin: 0;
  }
	&.exalted {
		background: lighten(#e3d081, 26%);
		h3 {
			color: darken(#e3d081, 16%);
		}
	}
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.member-icon {
  img {
    border-radius: 50%;
    display: block;
    height: 36px;
    width: 36px;
  }
  @media screen and (max-width: 767px) {
    img {
      height: 48px;
      margin: auto;
      width: 48px;
    }
  }
}
span.member-online {
  color: #C3423F;
  &.online {
    color: #4DAA57;
  }
}
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
