---
---
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  &.overflow-hidden {
    overflow: hidden;
  }
}
body {
  padding-top: 60px;
}
.roiNav {
  background: #222;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 600;
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 1024px) {
    ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: auto;
    }
  }
}
.roiNav-logo {
  display: block;
  padding: 0 1rem;
	transition: 300ms ease;
  @media screen and (max-width: 1024px) {
    left: 1rem;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  img,
  strong {
    display: inline-block;
    vertical-align: middle;
  }
	img {
		margin-right: 0.618rem;
	}
  strong {
    color: #e3d081;
    font-size: 1.618rem;
  }
  &:hover {
    opacity: .8;
  }
}
.
.roiNav-item {
  align-self: stretch;
  display: block;
  margin: 0;
  padding: 0;
  a {
    color: #fff;
    display: block;
    height: 60px;
    line-height: 60px;
    padding: 0 1rem;
    transition: 300ms ease;
    &.is-current {
      color: #e3d081;
    }
    &:hover {
      color: #e3d081;
    }
  }
  &:last-child {
    a,
    a:hover {
      color: #333;
    }
  }
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.roiNav nav {
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    position: fixed;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 200px;
    height: 100vh;
    height: calc(100vh - 60px);
    top: 60px;
    right: -200px;
    -webkit-transition: right 600ms ease-in-out;
    transition: right 600ms ease-in-out;
    background: #222;
    z-index: 300;
    &.is-visible {
      right: 0;
    }
  }
}

.roiNav-trigger {
  display: none;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1rem;
  z-index: 400;
  span {
    background-color: #gold;
    display: block;
    position: absolute;
    width: 24px;
    height: 2px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    &:first-child {
      top: 9px;
    }
    &:last-child {
      top: 15px;
      width: 24px;
      right: 0;
    }
  }
  &.is-clicked {
    span {
      top: 11px;
      background: #e3d081;
      &:first-child {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:last-child {
        width: 24px;
        right: auto;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
    }
  }
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.roiFooter {
  background: #111;
  overflow: hidden;
  padding: 4.263rem 0;
  span {
    color: #999;
  }
}
