#index {
  padding: 0;
  margin: -40px 0 0;
  max-width: unset;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

#index .module .content {
  padding: 3rem;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

#index .module .content ~ .content .sub-header {
  margin: 3rem 0 1rem;
}




#index .module.intro {
  background-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(191, 150, 68, 0.75);
  overflow-x: hidden;
  position: relative;
}

#index .module.intro .device {
  position: absolute;
  height: 70vh;
  top: 15vh;
  right: 10%;
  display: flex;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}

#index .module.intro .device svg {
  fill: #ffffff;
  opacity: 0.1;
  width: auto;
  height: 100%;
}

#index .module.intro .content {
  padding: 7rem 3rem 3rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
}

#index .module.intro .content .name {
  display: flex;
  align-items: center;
  font-size: 128px;
  line-height: 1;
  font-weight: 500;
  margin: 0 0 1rem -5px;
}

#index .module.intro .content .name span {
  font-size: 88px;
  margin: 0 2rem 0 0;
}

#index .module.intro .content .description {
  max-width: 500px;
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
  letter-spacing: 0.5px;
}




#index .module.stats {
  position: relative;
}

#index .module.stats::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: calc(50% - 10vh);
  width: 20vh;
  height: 2px;
  transform: rotate(90deg);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0));
  background-repeat: no-repeat;
  background-size: 200%;
  animation: animation-scroll-highlight 1s linear infinite;
}

@keyframes animation-scroll-highlight {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: -200%;
  }
}

#index .module.stats .content {
  padding: 13rem 3rem 3rem;
}

#index .module.stats .content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}

#index .module.stats .content ul li .value {
  font-size: 48px;
  font-weight: 500;
}

#index .module.stats .content ul li .name {
  margin: 4px 0 0;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

#index .module.stats .content ul li .description {
  margin: 18px 0 0;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.4);
}






#index .module .content.change-log {
  min-height: 30rem;
}

#index .module .content.change-log .log-state {
  display: flex;
  justify-content: space-between;
  margin: 0 0 12px;
}

#index .module .content.change-log .log-state .meta {
  flex: 1 1 auto;
  padding: 0 1rem 0 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 14px;
}

#index .module .content.change-log .log-state .meta > div {
  height: 38px;
  flex: 1 1 auto;
  display: grid;
  align-content: center;
}

#index .module .content.change-log .log-state .meta .time {
  justify-self: end;
}

#index .module .content.change-log .log-state .meta span span {
  color: rgba(255, 255, 255, 1);
}

#index .module .content.change-log .log-state .buttons {
  display: grid;
  grid-template-columns: repeat(2, 38px);
  grid-gap: 3px;
}

#index .module .content.change-log .log-state .buttons button {
  width: 38px;
  justify-content: center;
  margin: 0;
}

#index .module .content.change-log .log-state .buttons button .text {
  padding: 0;
  font-size: 12px;
}

#index .module .content.change-log .log-state .buttons button.disabled {
  pointer-events: none;
}

#index .module .content.change-log .log-state .buttons button:not(.disabled) {
  color: rgba(255, 255, 255, 0.8);
}

#index .module .content.change-log .log-state .buttons button:not(.disabled)::before {
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0.8);
}

#index .module .content.change-log .log-content p {
  margin: 0 0 0.5rem;
  font-size: 14px;
  line-height: 1.6;
}

#index .module .content.change-log .log-content p:last-child {
  margin: 0;
}

#index .module .content.change-log .log-content p a::before {
  content: ' ';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0.2;
}

#index .module .content.change-log .log-content code {
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: rgba(255, 255, 255, 0.1);
}

#index .module .content.change-log .log-content h2 {
  margin: 0 0 0.5rem;
  font-size: 14px;
  line-height: 1.6;
}

#index .module .content.change-log .log-content h2:not(:first-child) {
  margin: 1rem 0 0.5rem;
}

#index .module .content.change-log .log-content ul {
  list-style-type: disc;
  padding: 0 0 0 2rem;  
  margin: 0 0 1rem;
}

#index .module .content.change-log .log-content ul li {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 6px;
}

#index .modules > .description {
  font-size: 16px;
}

#index .module:last-child .width-wrap {
  padding: 5rem 3rem 3rem;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
}

#index .module:last-child .width-wrap .content {
  padding: 0;
}

#index .module:last-child .width-wrap .content .sub-header {
  margin-top: 0;
}

#index .module .content.patreon {
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 2rem;
}

#index .module .content.patreon .icon svg {
  width: 100%;
  height: auto;
}

#index .module .content.patreon .text .name {
  font-size: 24px;
  line-height: 1;
  margin: 0 0 20px;
  display: none;
}

#index .module .content.patreon .text button {
  margin: 1rem 0 0;
}

@media screen and (max-width: 1024px) {

  #index .module.intro .device {
    top: 0;
    right: -10%;
    height: 100%;
    width: 60%;
  }

  #index .module.intro .device svg {
    width: 100%;
    height: auto;
  }

  #index .module.intro .content .name {
    font-size: 72px;
    margin: 0 0 1rem -2px;
  }

  #index .module.stats .content ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  #index {
    
  }

  #index .modules {
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  #index .module .content {
    padding: 2rem;
  }
  
  #index .module .content ~ .content .sub-header {
    margin: 2rem 0 1rem;
  }

  #index .module.intro .content {
    padding: 7rem 2rem 2rem;
  }

  #index .module.intro .content .name {
    font-size: 48px;
    margin: 0 0 1rem -2px;
  }
  
  #index .module.intro .content .description {
    font-size: 12px;
  }
  
  #index .module.stats .content {
    padding: 7rem 2rem 2rem;
  }

  #index .module.stats .content ul {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  #index .module.stats .content ul li .value {
    font-size: 32px;
  }

  #index .module:last-child .width-wrap {
    padding: 5rem 2rem 2rem;
    grid-gap: 6rem;
    grid-template-columns: 1fr;
  }

  #index .module .content.patreon {
    grid-template-columns: 38px auto;
    grid-gap: 1rem;
  }
  
}
