@import '../../lib/toolbox.styl'

.root
  margin: 20px

.footer
  margin: 40px 0 15px 0
  font-size: 13px
  color: #737373

  a
    color: darken(#737373, 50%)

    +darkMode()
      color: white

  & + &
    margin-top: 0;


.darkModeButton
  background: $dm-background
  color: $dm-text-color
  border: none
  border-radius: 3px
  appearance: none
  font-size: inherit
  font-family: inherit
  padding: 4px 8px
  outline: 2px solid rgba($dm-background, 0)
  outline-offset: 2px
  transition: all 200ms ease-in-out
  transition-property: color

  &:focus
    outline-color: $dm-background

  +darkMode()
    background: #f7f7f7
    color: $dm-background

    &:focus
      outline-color: #f7f7f7


