---
layout: default
title: Crucible Teams
meta: "Online signup system for Destiny 2 PC clan Exalted's Crucible fireteams. Pick a time that works for you and sign up for Destiny 2 PvP from any device."
style:
  - "crucible.css"
js:
  - "crucible.js"
---
<div id="loading" style="display: none;">
  <img src="/assets/img/loading.gif" alt="Loading...">
</div>
<section class="hero" id="crucible-hero">
  <div class="content hero-content">
    <h1 class="white">Crucible Signups</h1>
    <p class="white">Exalted online Crucible signups</p>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content">
    <div class="j-col j-col-12 centered">
      <span class="white">Become legend in the Crucible with your fellow Iron Guardians. Crucible signups are for organizing fireteams for Competitive/Ranked and Trials of the Nine. If you need to edit your availability, please contact <span class="gold">@</span>kuro in the clan Discord.</span>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content">

    <h4 class="gold centered j-col j-col-12" style="margin: 0 0 1.618rem;">Exalted operates in <a style="border-bottom: 2px solid #e3d081; color: #e3d081;" href="http://www.thetimezoneconverter.com/" target="_blank" rel="noopener">Pacific Time</a></h4>

    <div id="crucible-signup">
      {% include
        html/pvp-signup-sheet.html
        day="Sunday"
        open-post="AKfycbx2xrqSUsFLeTnpw48s00gPfzZuEt7FCGJ3DKBAIyokByMPgyk"
        open-sheet="1tGcpcAxg3AqzGI_Dat8a0JWjmt6V-WHuTtfwlfh0v4o"
        brigade-post="AKfycby4DD3wIFcUZUHxIegpa5ANZazjSUpHQu4-4WA-JA"
        brigade-sheet="1adDUjBcuH7M5vLX0gzhW0TSpxa1a_ctKX4_BjA_lQkQ"
      %}

      {% include
        html/pvp-signup-sheet.html
        day="Monday"
        open-post="AKfycbwr53XNg8ekWDXHVbgZQNi8d49JbAudf0WkSQ4dKw"
        open-sheet="1Ew9MZ3tEyrLLZPP9fI3JKKYaYYGpWoAl9prf9ZW-Zbs"
        brigade-post="AKfycbyGvCV781Fqd95QnmKNaePSUWlJwGXtazRDSdlg"
        brigade-sheet="1AHN7MHxlNBTSUY11UjyFfdHXrffeFZaY5FB-h_o8EXU"
      %}

      {% include
        html/pvp-signup-sheet.html
        day="Tuesday"
        open-post="AKfycbz8Au24-beChz1m4Jh0ddaeQ-vJCRzc-A1XFW8WEg"
        open-sheet="1K1eY029THaVroENSBN6qpwJLNWn6RsV53QSqEeVCtRI"
        brigade-post="AKfycbxcGEyRiX2LWhnHvhyfNIY-INW18DORtCbRdJhS1w"
        brigade-sheet="11L5BtzRfAPwcHAa4vKd_sRkElYCR0DwIKyZuaiKvQ6w"
      %}

      {% include
        html/pvp-signup-sheet.html
        day="Wednesday"
        open-post="AKfycbwugSLKp6TdWkzd4VGaTqzykQz-SDjkiRv6ZdvY"
        open-sheet="1V8XYZIC52an3-iI86K-jZjk475Qykr42PMRF5i1PEHs"
        brigade-post="AKfycbyViPnXAM0OCxw1HsohqEKixfVzChRv0kO7_PwbzaX5h9B1AdhG"
        brigade-sheet="1MBDUPYYI2Ndyfae5PZwvpA2ttqQW88k6kuN075v5wFo"
      %}

      {% include
        html/pvp-signup-sheet.html
        day="Thursday"
        open-post="AKfycbyBiQn9LpUcOfGBlekyb_LVWlM-dUfiJwUy02iUfo2SHxpJaIRz"
        open-sheet="1CCQ09tLDoDQYXogLAacgT9h9B4Si5_i3DzbDbSJJhoU"
        brigade-post="AKfycbzgZlN5OHtphXB84D7iJHF9_BIXNcPj0iqsjqSK01BEr8CcQPVK"
        brigade-sheet="1Om4qLLG7sZK7sLmUudSfGRXo9DfQNSJ9sZCA0a_rdjg"
      %}

      {% include
        html/pvp-signup-sheet.html
        day="Friday"
        open-post="AKfycbyeTuZalWT3LnCrQJUOQSpEu1NY1RYw33gr0tBLkD15JZ-zm7y9"
        open-sheet="1FtO_hGQtxzyuw-iw84kUhN0vptYQ4aWcgTQkPElTzrU"
        brigade-post="AKfycbydf4O6yxKjDBiut7XyNpesaMNuyZRbBcjUvrIeClRnlaZathc"
        brigade-sheet="1BXynVC57Gqt3Ds4n1Oqu-jBD2Qeq58af7Lp8WCJ3XFU"
      %}

      {% include
        html/pvp-signup-sheet.html
        day="Saturday"
        open-post="AKfycbzeqhnxV0hZn1qXJXN8eEDuI3OF_5ln5yH0vuQupLIg4KSqjzk"
        open-sheet="1vi08kctbualjChqbgz50euVIoia4RocE1fPV7xbpvf8"
        brigade-post="AKfycbwdud94Zazh2X14LP7GiuEE6L_WQx8HkYbMYj_-blJIzG1LPqeZ"
        brigade-sheet="1fnVR9IaOezZkEv5KljoKRtjGXBu2SSlPTdbVA-3ixTY"
      %}
    </div>

  </div>
</section>
