---
layout: default
title: Raid Signups
meta: "Online signup system for Destiny 2 PC clan Exalted's raid schedule. Pick a time that works for you and sign up for Destiny 2 raids from any device."
style:
  - "raids.css"
js:
  - "raids.js"
---
<div id="loading" style="display: none;">
  <img src="/assets/img/loading.gif" alt="Loading...">
</div>
<section class="hero" id="raids-hero">
  <div class="content hero-content">
    <h1 class="white">Raid Signups</h1>
    <p class="white">Exalted online raid signups</p>
  </div>
</section>
<section class="color-block dark-black">
  <div class="content">
    <div class="j-col j-col-10 push-1 centered">
      <span class="white type-big">Sign up for Exalted raids! If you need to back out of a raid or edit your availability, please contact <span class="gold">@</span>kuro or <span class="gold">@</span>CanisMajoris in the clan Discord.</span>
    </div>
  </div>
</section>
<section class="color-block lighter-gray">
  <div class="content">
    <h4 class="gold centered j-col j-col-12" style="margin: 0 0 1.618rem;">Exalted operates in <a style="border-bottom: 2px solid #e3d081; color: #e3d081;" href="http://www.thetimezoneconverter.com/" target="_blank" rel="noopener">Pacific Time</a></h4>
    <div class="j-col j-col-12" id="raid-signup">
			<!-- Sunday -->
      {% include html/signup-sheet.html day="Sunday" leviathan-post="AKfycbw1LmgSnTg_we4QJ4nZM0oGZtU2aOOrGIgssNI4agvQL8atpeYI" eow-post="AKfycbzdfW6DVxqZuKWA21jKSkMFpGeyUUa0pJ8lPQcjdIKyNo_cj6Y" leviathan-sheet="1SEO8BP6qn2_VV1GPJUP-pRTebtOov_kTS8LnKoN9ikw" eow-sheet="1ui2ShDCpSWuDsMbrF3qPKNixxfQEhq3Ip4w89lBa2_s" %}
			<!-- Monday -->
      {% include html/signup-sheet.html day="Monday" leviathan-post="AKfycbxeJrWv91_3Ahv7juaKJ8IN_bBcreecIu2A_jIA_DhITndEV7vH" eow-post="AKfycbyaxjSQsihXCqL7EkbZWTnkTG_yJ_wYdDLlP3Yt3UtMLAeDxz87" leviathan-sheet="1F_c21QQu8KYhz3P67t6QYYcp1i_nb_ySCLgGZoHqlP8" eow-sheet="14cfFGg7hSSoyGf6JlI66frwiUf2yQn24hZ7QCFKKd_0" %}
			<!-- Tuesday -->
      {% include html/signup-sheet.html day="Tuesday" leviathan-post="AKfycbzd7JwMek_PEK_X2anmO7fRPaWbY06uf3OLD-x6BJWlB-cYKls" eow-post="AKfycbyiNEfbn8fQhnb8MEKICQ9_RZPUQpUaN4L5_k-Zb0z55NVkMZoI" leviathan-sheet="1Ygnu5W0C9jxXP5BhHJOwe1_igGRH0vFA0eOrcNmeqyU" eow-sheet="18s_IOGtYZM7ZYSC8UJOsydizYLpbvfBbdWKPvSeWv4s" %}
			<!-- Wednesday -->
      {% include html/signup-sheet.html day="Wednesday" leviathan-post="AKfycbzVtaTfD7-pzObHT5jbLR5HNt-wb4OfNvYd4Nq-Duq7U6kf4fAQ" eow-post="AKfycby_fv6qSIvSiGqb4T1PhFGhS1eDe2PK9-KFfdu2" leviathan-sheet="1a7mA_OajsyKTXUmEN5_rxND3nXsUo1MOvlwq_Tqy5LM" eow-sheet="1e27VC-q2ZFJL_ojuXw_twVnLtTHe6i89nv_YaMnAI2U" %}
			<!-- Thursday -->
      {% include html/signup-sheet.html day="Thursday" leviathan-post="AKfycbz3zV7SjiTdiZiE3QCpXXHUuIvaggp79YeV3jZQwjUQubI340Y-" eow-post="AKfycby3__pw0Ylyf_-OkN9XQUF0-qpJY1tHzoq2Bc5wBYRlyYKq_lU" leviathan-sheet="1t85MVLacGPm8ILPEMBY8i0ELsYTzk2wCOVkvIHbFyHY" eow-sheet="19l-8iaBnRgKkCAr_3PSMspRJhS-WCLCEGL9ytJL1wug" %}
			<!-- Friday -->
      {% include html/signup-sheet.html day="Friday" leviathan-post="AKfycbyAL3vZCKmKMiHNZ4l7l5UA4wpZs4pIOfyHzFCFsdfn9FAeLzw" eow-post="AKfycbwh1wqBR5lQl89X0Whr9c1zz52Yn_zfE9poftd-aZb_lXI0PIjO" leviathan-sheet="1YqX0x56uLNuA1TxwejvHciCr7NRabFhroChZTksIu4w" eow-sheet="1LKx95dzXOM7a2hStDEpEAO7JqszdCYmLT_uDzpAsjvU" %}
			<!-- Saturday -->
      {% include html/signup-sheet.html day="Saturday" leviathan-post="AKfycbyKsDFab1Cddc1ftYM0-qdICwJPce22F0hT2mr1dtRJ1CNYQUo2" eow-post="AKfycbxp0GV3-HnVfCMx1S8Hoqnp-BZGGqf8XMdqT-VC6VtRk_meufM" leviathan-sheet="1LkWZqSjkigTQN4czM6oxoEnB_1cN_BJoy9TVx1AX-zM" eow-sheet="1OfwEn3nQ7-NmvMcSjeSsdUsiCfXHU6PZBR5J0dvvzCY" %}
    </div>
  </div>
</section>
