<div class="content">     </div>     <div class="j-col j-col-9 playerProfile-stats"> 

<div class="collapsible-section">
<h3 class="collapsible-title" style="
    background-color: #ac0000;
    border-radius: .3rem;
    box-shadow: 2px 3px 4px white;
    color: white;
    padding-bottom: .2em;
    padding-top: .2em;
    border-bottom: 2px solid darkred;
">  
<b>Crucible Stats</b></h3>
<div class="collapsible-section--content" style="display: none;">
<h2><img src="/assets/img/weapon/Crucible.svg" width="100%" height="50"></h2>
<h3 class="white">Averages</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4">
<h4>KDA</h4>
<span class="type-larger" id="player-kda"style="color: white;">
</span>
<div class="j-col j-col-4">
</div>
<h4>KD</h4>
<span class="type-larger" id="player-kd"style="color: white;">
</span>
</div>
<div class="j-col j-col-4">
<h4>Efficiency</h4>
<span class="type-larger" id="player-efficiency"style="color: white;">
</span>
</div>
</div>
</div>
<h3 class="white">Totals</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4">
<h4>Kills</h4>
<span class="type-larger" id="player-kills"style="color: white;">
</span>
</div>
<div class="j-col j-col-4">
<h4>Assists</h4>
<span class="type-larger" id="player-assists"style="color: white;">
</span>
</div>
<div class="j-col j-col-4">
<h4>Precision Kills</h4>
<span class="type-larger" id="player-precision-kills"style="color: white;">
</span>
</div>
</div>
</div>
<h3 class="white">Bests</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Best Single Game Kills</h4>
<span class="type-larger" id="player-most-kills"style="color: white;">
</span>
</div>
<div class="j-col j-col-6">
<h4>Longest Kill Spree</h4>
<span class="type-larger" id="player-kill-spree"style="color: white;">
</span>
</div>
<div class="j-col j-col-6">
<h4>Most Precision Kills</h4>
<span class="type-larger" id="player-most-precision"style="color: white;">
</span>
</div>
<div class="j-col j-col-6">
<h4>Best Weapon Type</h4>
<span class="type-larger" id="player-weapon"style="color: white;">
</span>
</div>
</div>
</div>
</div>
</div>
  </div>
