<div class="content">     </div>     <div class="j-col j-col-9 playerProfile-stats"> 
<img src="/assets/img/weapon/Crucible.svg" width="100%" height="50">
<div class="collapsible-section">
<h3 class="collapsible-title">  
<b>Crucible Stats</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>PvP Stats</h2>
<h3 class="gray">Averages</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4">
<h4>KDA</h4>
<span class="type-larger" id="player-kda">  
</span>
<div class="j-col j-col-4">
</div>
<h4>KD</h4>
<span class="type-larger" id="player-kd">  
</span>
</div>
<div class="j-col j-col-4">
<h4>Efficiency</h4>
<span class="type-larger" id="player-efficiency">  
</span>
</div>
</div>
</div>
<h3 class="gray">Totals</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4">
<h4>Kills</h4>
<span class="type-larger" id="player-kills">  
</span>
</div>
<div class="j-col j-col-4">
<h4>Assists</h4>
<span class="type-larger" id="player-assists">  
</span>
</div>
<div class="j-col j-col-4">
<h4>Precision Kills</h4>
<span class="type-larger" id="player-precision-kills">  
</span>
</div>
</div>
</div>
<h3 class="gray">Bests</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Best Single Game Kills</h4>
<span class="type-larger" id="player-most-kills">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Longest Kill Spree</h4>
<span class="type-larger" id="player-kill-spree">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Most Precision Kills</h4>
<span class="type-larger" id="player-most-precision">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Best Weapon Type</h4>
<span class="type-larger" id="player-weapon">  
</span>
</div>
</div>
</div>
</div>
</div>
