<footer class="roiFooter">
  <div class="content">
    <div class="j-col j-col-8">
      <span>Copyright ©<script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Beats By Cayde. All Rights Reserved. All copyrights and trademarks remain property of their respective owners and are used for identification only.</span>
    </div>
    <div class="j-col j-col-3 push-1">
      <a href="/apply/" class="button full-width" title="Join Exalted on PC">Join the Clan</a>
    </div>
  </div>
</footer>
