<div class="j-1-col j-col-9 playerProfile-stats">  
<img src="/assets/img/weapon/Drifter.svg" width="100%" height="50">
<div class="collapsible-section">
<h3 class="collapsible-title">Gambit Stats</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>Gambit Stats</h2>         <h3 class="gray">Averages</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>KD</h4>
<span class="type-larger" id="player-g-kd">  
</span>
</div>
<div class="j-col j-col-6">
<h4>KDA</h4>
<span class="type-larger" id="player-g-kda">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Kills</h4>
<span class="type-larger" id="player-g-kills">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Assists</h4>
<span class="type-larger" id="player-g-assists">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Primeval Kills</h4>
<span class="type-larger" id="player-g-primeval-kills">  
</span>
</div>  
<div class="j-col j-col-6">
<h4>Total Primeval Damage</h4>
<span class="type-larger" id="player-g-primeval-Damage">  
</span>
</div>
</div>
</div>  
<h3 class="gray">Blockers</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Small blockers sent</h4>
<span class="type-larger" id="player-g-small-Blockers-Sent">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Medium blockers sent</h4>
<span class="type-larger" id="player-g-medium-Blockers-Sent">  
</span>
</div>  
<div class="j-col j-col-6">
<h4>Large blockers sent</h4>
<span class="type-larger" id="player-g-large-Blockers-Sent">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Fastest completion</h4>
<span class="type-larger" id="player-g-fastest-Completion-Ms">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Motes Deposited</h4>
<span class="type-larger" id="player-g-motes-Deposited">  
</span>
</div>
</div>
</div>  
<h3 class="gray">Invasions / Invaders</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4">
<h4>Invasions</h4>
<span class="type-larger" id="player-g-invasions">  
</span>
</div>
<div class="j-col j-col-4">
<h4>Invasion Kills</h4>
<span class="type-larger" id="player-g-invasion-Kills">  
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="j-1-col j-col-9 playerProfile-stats">
<div class="collapsible-section">
<h3 class="collapsible-title">Gambit Prime Stats</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>Gambit Prime Stats</h2>         <h3 class="gray">Averages</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>KD</h4>
<span class="type-larger" id="player-g-p-kd">  
</span>
</div>
<div class="j-col j-col-6">
<h4>KDA</h4>
<span class="type-larger" id="player-g-p-kda">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Kills</h4>
<span class="type-larger" id="player-g-p-kills">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Test1</h4>
<span class="type-larger" id="player-pvp-rocket-launcher">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Primeval Kills</h4>
<span class="type-larger" id="player-g-p-primeval-kills">  
</span>
</div>  
<div class="j-col j-col-6">
<h4>Total Primeval Damage</h4>
<span class="type-larger" id="player-g-p-primeval-Damage">  
</span>
</div>
</div>
</div>  
<h3 class="gray">Blockers</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Small blockers sent</h4>
<span class="type-larger" id="player-g-p-small-Blockers-Sent">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Medium blockers sent</h4>
<span class="type-larger" id="player-g-p-medium-Blockers-Sent">  
</span>
</div>  
<div class="j-col j-col-6">
<h4>Large blockers sent</h4>
<span class="type-larger" id="player-g-p-large-Blockers-Sent">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Fastest completion</h4>
<span class="type-larger" id="player-g-p-fastest-Completion-Ms">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Motes Deposited</h4>
<span class="type-larger" id="player-g-p-motes-Deposited">  
</span>
</div>
</div>
</div>  
<h3 class="gray">Invasions / Invaders</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4">
<h4>Invasions</h4>
<span class="type-larger" id="player-g-p-invasions">  
</span>
</div>
<div class="j-col j-col-4">
<h4>Invasion Kills</h4>
<span class="type-larger" id="player-g-p-invasion-Kills">  
</span>
</div>
</div>
</div>
</div>
</div>
</section> 
