<div class="j-col j-col-9 playerProfile-stats">
<h1>  
<img src="/assets/img/weapon/chalice.svg" width="100%" height="50">
<div class="collapsible-section">
<h3 class="collapsible-title">Menagarie Stats</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>Menagarie Stats</h2>
<h3 class="gray">Basic Stats</h3>
<div class="j-col j-col-6"> 
 <div class="playerProfile-content">
<div class="j-row grid-container">
<h4>Completions</h4>
<span class="type-larger" id="player-menagarie-Clears">
</span>
</div>
<div class="j-col j-col-6">
<h4>Assist</h4>
<span class="type-larger" id="player-menagarie-assists">
</span>
</div>
<div class="j-col j-col-6">
<h4>Most kills in a run</h4>
<span class="type-larger" id="player-menagarie-mostSingleGameKills">
</span>
</div>
<div class="j-col j-col-6">
<h4>Highest score </h4>
<span class="type-larger" id="player-menagarie-highestScore">
</span>
</div>
<div class="j-col j-col-6">
<h4>Kills</h4>
<span class="type-larger" id="player-menagarie-Kills">
</span>
</div>
<div class="j-col j-col-6">
<h4>Orbs generated</h4>
<span class="type-larger" id="player-menagarie-orbsGenerated">
</span>
</div>
<div class="j-col j-col-6">
<h4>Precision kills</h4>
<span class="type-larger" id="player-menagarie-precisionKills">
</span>
</div>
<div class="j-col j-col-6">
<h4>Revives Performed</h4>
<span class="type-larger" id="player-menagarie-revivesPerformed">
</span>
</div>
<div class="j-col j-col-6">
<h4>Revives recieved</h4>
<span class="type-larger" id="player-menagarie-revivesRecieved">
</span>
</div>
<div class="j-col j-col-6">
<h4>Accidental deaths</h4>
<span class="type-larger" id="player-menagarie-accidentalDeaths">
</span>
</div>
<div class="j-col j-col-6">
<h4>Best Weapon</h4>
<span class="type-larger" id="player-menagarie-bestWeapon">
</span>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="j-col j-col-9 playerProfile-stats">
<div class="collapsible-section"> <h3 class="collapsible-title">Menagarie Weapons</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>Menagarie Weapon stats</h2>
<h3 class="gray">Weapons</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-4"> 
 <h4>Abilities</h4>
<span class="type-larger" id="player-menagarie-Ability">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Auto Rifles</h4>
<img src="/assets/img/weapon/autoRifle.svg" width="50" height="50">  >  
<span class="type-larger" id="player-menagarie-AutoRifle">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Beam Weapons</h4>
<span class="type-larger" id="player-menagarie-BeamRifle">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Bows</h4>
<span class="type-larger" id="player-menagarie-Bow">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Fusion Rifles</h4>
<img src="/assets/img/weapon/FusionRifle.svg" width="50" height="50">    
<span class="type-larger" id="player-menagarie-FusionRifle">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Grenades</h4>
<span class="type-larger" id="player-menagarie-Grenade>  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Grenade Launchers</h4>
<img src="/assets/img/weapon/GrenadeLauncher.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-GrendadeLauncher">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Hand Cannons</h4>
<img src="/assets/img/weapon/Handcannon.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-HandCannon">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Hive Swords AKA Relics</h4>
<span class="type-larger" id="player-menagarie-Relic">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Machine Guns</h4>
<span class="type-larger" id="player-menagarie-MachineGun">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Melees</h4>
<span class="type-larger" id="player-menagarie-Melee">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Pulse Rifles</h4>
<img src="/assets/img/weapon/PulseRifle.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-PulseRifle">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Rocket Launchers</h4>
<img src="/assets/img/weapon/RocketLAuncher.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-RocketLauncher">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Scout Rifles</h4>
<img src="/assets/img/weapon/ScoutRifle.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-ScoutRifle">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Shotguns</h4>
<img src="/assets/img/weapon/shotgun.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-Shotgun>  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Sidearms</h4>
<img src="/assets/img/weapon/Sidearm.svg" width="50" height="50">  
</Sidearmsimg>  
<span class="type-larger" id="player-menagarie-SideArm">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Snipers</h4>
<img src="/assets/img/weapon/sniper.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-Sniper">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Submachine Guns</h4>
<img src="/assets/img/weapon/SubmachineGun.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-Submachinegun">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Supers</h4>
<span class="type-larger" id="player-menagarie-Super">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Swords</h4>
<span class="type-larger" id="player-menagarie-Sword">  
</h4>
<img src="/assets/img/weapon/sword.svg" width="50" height="50">  
</span>  
</div>
<div class="j-col j-col-6">  
 <h4>Trace Rifles</h4>
<img src="/assets/img/weapon/Tracerifle.svg" width="50" height="50">  
<span class="type-larger" id="player-menagarie-TraceRifle">  
</span>  
</div>
</div>
</div>
</div>
</div>
