 <section class="roiNav">
  <div class="j-row vertical-center-row space-between">
    <a class="roiNav-logo" href="/" title="Back to beatsHomepage">
      <img src="/assets/img/cayde-favicon.png" alt="beats" width="26" height="25">
      <strong>Beats By Cayde
      </strong>
    </a>
    <div class="roiNav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
	<li class="roiNav-item">
          <a href="/about/" title="About Destiny 2 PS4 clan BEATS BY CAYDE" class="roiNav-link is-current">About</a>
        </li>
        <li class="roiNav-item">
          <a href="/roster/" title="BEATS BY CAYDE Clan Destiny 2 Roster" class="roiNav-link">Roster</a>
        </li>
        <li class="roiNav-item">
          <a href="/maps/" title="BEATS BY CAYDE Clan Destiny2 PvP maps" class="roiNav-link">Maps</a>
        </li>
        <li class="roiNav-item">
          <a href="/videos/" title="BEATS BY CAYDE Destiny 2 Gameplay Videos" class="roiNav-link">Videos</a>
        </li>
        <li class="roiNav-item">
          <a href="/apply/" style="border-radius:0;" class="button" title="Join BEATS BY CAYDE!">Apply</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
