 <section class="roiNav">
  <div class="j-row vertical-center-row space-between">
    <a class="roiNav-logo" href="/" title="Back to beatsHomepage">
      <img src="/assets/img/caydeandroid-chrome-192x192 (2).png" alt="beats" width="26" height="25">
      <strong>Beats By Cayde
      </strong>
    </a>
    <div class="roiNav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
	<li class="roiNav-item">
          <a href="/about/" title="About Destiny 2 PS4 clan BEATS BY CAYDE" class="roiNav-link is-current">About</a>
        </li>
        <li class="roiNav-item">
          <a href="/roster/" title="BEATS BY CAYDE Clan Destiny 2 Roster" class="roiNav-link">Roster</a>
        </li>
        <li class="roiNav-item">
          <a href="/maps/" title="BEATS BY CAYDE Clan Destiny2 PvP maps" class="roiNav-link">Maps</a>
        </li>
        <li class="roiNav-item">
          <a href="/videos/" title="BEATS BY CAYDE Destiny 2 Gameplay Videos" class="roiNav-link">Videos</a>
        </li>
	      <li class="roiNav-item">
          <a href="/resources/" title="BEATS BY CAYDE Destiny 2 Resources Page" class="roiNav-link">Resources</a>
        </li>
        <li class="roiNav-item">
          <a href="/apply/" style="border-radius:0;" class="button" title="Join BEATS BY CAYDE!">Apply</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
	min-width: max-content;
   
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>



<ul>
  <li style="
    padding-left: 0rem;
"><a class="active" href="#home">Home</a></li>
  <li style="
    padding-left: 0rem;
"><a href="/videos/">Videos</a></li>
 <li style="
    padding-left: 0rem;
"><a href="/roster/">Roster</a></li>
  <li style="
    padding-left: 0rem;
"><<a href="/Leaderboards/allpvpleaderboards/">Leaderboards</a></li>
</ul>

