<section class="roiNav">
  <div class="j-row vertical-center-row space-between">
    <a class="roiNav-logo" href="/" title="Back to Beats By Cayde Homepage">
      <img src="/assets/img/cayde-favicon.png" alt="𓃰𓁄 BEATS BY CAYDE 𓃰𓁄" width="26" height="25">
	    <strong>BEATS BY CAYDE </strong> 
	</a>
    <div class="roiNav-trigger">
      <span></span>
      <span></span>
    </div>
    <nav>
      <ul>
	      <li class="roiNav-item">
          <a href="{{"/about/" | relative_url}}" title="About Destiny 2 PC clan Exalted" class="roiNav-link{% if page.url == '/about/' %} is-current{% endif %}">About</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/roster/" | relative_url}}" title="Exalted Clan Destiny 2 Roster" class="roiNav-link{% if page.url == '/roster/' %} is-current{% endif %}">Roster</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/maps/" | relative_url}}" title="Exalted Clan Destiny2 PvP maps" class="roiNav-link{% if page.url == '/maps/' %} is-current{% endif %}">Maps</a>
        </li>
        <li class="roiNav-item">
          <a href="{{"/videos/" | relative_url}}" title="Exalted Destiny 2 Gameplay Videos" class="roiNav-link{% if page.url == '/videos/' %} is-current{% endif %}">Videos</a>
        </li>
        <li class="roiNav-item">
          <a href="/apply/" style="border-radius:0;" class="button" title="Join Exalted!">Apply</a>

        </li>
      </ul>
    </nav>
  </div>
</section>
