<div class="j-col j-col-9 playerProfile-stats"> 
<img src="/assets/img/weapon/Vanguard.svg" width="100%" height="50">
<div class="collapsible-section">
<h3 class="collapsible-title">PvE Stats</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>Pve Stats</h2>         <h3 class="gray">Raid Stats</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Total Clears</h4>
<span class="type-larger" id="player-raid-clears">  
</span>
</div>
<div class="j-col j-col-6">
<h4>KD</h4>
<span class="type-larger" id="player-raid-kd">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Kills</h4>
<span class="type-larger" id="player-raid-kills">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Average Kills Per Game</h4>
<span class="type-larger" id="player-raid-kills-pga">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Best Single Game Kills</h4>
<span class="type-larger" id="player-raid-best-kills">  
</span>
</div>
</div>
</div>
<h3 class="gray">Strike Stats</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Total Clears</h4>
<span class="type-larger" id="player-strike-clears">  
</span>
</div>
<div class="j-col j-col-6">
<h4>KD</h4>
<span class="type-larger" id="player-strike-kd">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Kills</h4>
<span class="type-larger" id="player-strike-kills">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Average Kills Per Game</h4>
<span class="type-larger" id="player-strike-kills-pga">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Best Single Game Kills</h4>
<span class="type-larger" id="player-strike-best-kills">  
</span>
</div>
</div>
</div>  
<h3 class="gray">Patrol Stats</h3>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">
<h4>Heroic Public Events Completed</h4>
<span class="type-larger" id="player-heroic-public-events">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Kills</h4>
<span class="type-larger" id="player-patrol-kills">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Deaths</h4>
<span class="type-larger" id="player-patrol-deaths">  
</span>
</div>
<div class="j-col j-col-6">
<h4>Best Weapon Type</h4>
<span class="type-larger" id="player-patrol-best-weapon">  
</span>
</div>
</div>
</div>
</div>
</div>
<div class="collapsible-section">
<h3 class="collapsible-title">Weapons</h3>
<div class="collapsible-section--content" style="display: none;">
<h2>Weapon Kills</h2>
<div class="playerProfile-content">
<div class="j-row grid-container">
<div class="j-col j-col-6">  <h4>Abilities</h4>  <span class="type-larger" id="player-pve-ability">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Beam Weapons</h4>  <span class="type-larger" id="player-pve-beam-rifle">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Bows</h4>  <span class="type-larger" id="player-pve-bow">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Fusion Rifles</h4>  

  <span class="type-larger" id="player-pve-fusion-rifle">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Grenades</h4>  <span class="type-larger" id="player-pve-grenade">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Grenade Launchers</h4>  
 <span class="type-larger" id="player-pve-grenade-launcher">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Hand Cannons</h4>  
 <span class="type-larger" id="player-pve-hand-cannon">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Hive Swords AKA Relics</h4>  <span class="type-larger" id="player-pve-relic">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Machine Guns </h4>  
<span class="type-larger" id="player-pve-machinegun">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Melees </h4>  
<span class="type-larger" id="player-pve-melee">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Pulse Rifles</h4>  
<span class="type-larger" id="player-pve-pulse-rifle">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Rocket Launchers</h4>  
<span class="type-larger" id="player-pve-rocket-launcher">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Scout Rifles</h4>  
 <span class="type-larger" id="player-pve-scout-rifle">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Shotguns</h4>  
<span class="type-larger" id="player-pve-shotgun">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Sidearms</h4>  
<span class="type-larger" id="player-pve-sidearm">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Snipers</h4>  
  <span class="type-larger" id="player-pve-sniper">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Submachine Guns</h4>  
  <span class="type-larger" id="player-pve-submachinegun">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Supers</h4>  
<span class="type-larger" id="player-pve-super">  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Swords </h4>  
<span class="type-larger" id="player-pve-sword">  
</h4>  
</span>  
</div>
<div class="j-col j-col-6">  <h4>Trace Rifles</h4>  
  <span class="type-larger" id="player-pve-trace-rifle">  
</span>  
</div>
</div>
</div>
</div>
</div>
</div>
