<div class="j-col j-col-9 playerProfile-stats"> 
  <div class="collapsible-section">
  <h3 class="collapsible-title">Vanguard stats</h3>
  <div class="collapsible-section--content" style="display: none;">
  <h2><img src="/assets/img/weapon/Vanguard.svg" width="100%" height="50"></h2>         
    <h3 class="black">Raid Stats</h3>
  <div class="playerProfile-content">
  <div class="j-row grid-container">
  <div class="j-col j-col-6">
  <h4>Total Clears</h4>
  <span class="type-larger" id="player-raid-clears"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>KD</h4>
  <span class="type-larger" id="player-raid-kd"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Kills</h4>
  <span class="type-larger" id="player-raid-kills"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Average Kills Per Game</h4>
  <span class="type-larger" id="player-raid-kills-pga"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Best Single Game Kills</h4>
  <span class="type-larger" id="player-raid-best-kills"style="color: white;">
</span>
  </div>
  </div>
  </div>
  <h3 class="black">Strike Stats</h3>
  <div class="playerProfile-content">
  <div class="j-row grid-container">
  <div class="j-col j-col-6">
  <h4>Total Clears</h4>
  <span class="type-larger" id="player-strike-clears"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>KD</h4>
  <span class="type-larger" id="player-strike-kd"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Kills</h4>
  <span class="type-larger" id="player-strike-kills"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Average Kills Per Game</h4>
  <span class="type-larger" id="player-strike-kills-pga"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Best Single Game Kills</h4>
  <span class="type-larger" id="player-strike-best-kills"style="color: white;">
</span>
  </div>
  </div>
  </div>  
  <h3 class="black">Patrol Stats</h3>
  <div class="playerProfile-content">
  <div class="j-row grid-container">
  <div class="j-col j-col-6">
  <h4>Heroic Public Events Completed</h4>
  <span class="type-larger" id="player-heroic-public-events"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Kills</h4>
  <span class="type-larger" id="player-patrol-kills"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Deaths</h4>
  <span class="type-larger" id="player-patrol-deaths"style="color: white;">
</span>
  </div>
  <div class="j-col j-col-6">
  <h4>Best Weapon Type</h4>
  <span class="type-larger" id="player-patrol-best-weapon"style="color: white;">
</span>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="collapsible-section">
  <h3 class="collapsible-title">Vanguard Weapon stats</h3>
  <div class="collapsible-section--content" style="display: none;">
  <h2>Weapon Kills</h2>
  <div class="playerProfile-content">
  <div class="j-row grid-container">
  <div class="j-col j-col-6">  <h4>Abilities</h4>  <span class="type-larger" id="player-pve-ability"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Beam Weapons</h4>  <span class="type-larger" id="player-pve-beam-rifle"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Bows</h4>  <span class="type-larger" id="player-pve-bow"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Fusion Rifles</h4>  
  
    <span class="type-larger" id="player-pve-fusion-rifle"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Grenades</h4>  <span class="type-larger" id="player-pve-grenade"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Grenade Launchers</h4>  
   <span class="type-larger" id="player-pve-grenade-launcher"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Hand Cannons</h4>  
   <span class="type-larger" id="player-pve-hand-cannon"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Hive Swords AKA Relics</h4>  <span class="type-larger" id="player-pve-relic"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Machine Guns </h4>  
  <span class="type-larger" id="player-pve-machinegun"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Melees </h4>  
  <span class="type-larger" id="player-pve-melee"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Pulse Rifles</h4>  
  <span class="type-larger" id="player-pve-pulse-rifle"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Rocket Launchers</h4>  
  <span class="type-larger" id="player-pve-rocket-launcher"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Scout Rifles</h4>  
   <span class="type-larger" id="player-pve-scout-rifle"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Shotguns</h4>  
  <span class="type-larger" id="player-pve-shotgun"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Sidearms</h4>  
  <span class="type-larger" id="player-pve-sidearm"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Snipers</h4>  
    <span class="type-larger" id="player-pve-sniper"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Submachine Guns</h4>  
    <span class="type-larger" id="player-pve-submachinegun"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Supers</h4>  
  <span class="type-larger" id="player-pve-super"style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Swords </h4>  
  <span class="type-larger" id="player-pve-sword">  
  </h4style="color: white;">
</span>  
  </div>
  <div class="j-col j-col-6">  <h4>Trace Rifles</h4>  
    <span class="type-larger" id="player-pve-trace-rifle"style="color: white;">
</span>  
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
