<!DOCTYPE html>
<html>	
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    {% if page.noindex %}
    <meta name="robots" content="noindex">
    {% endif %}
    <meta name="author" content="Adaptiva">
    {% if page.meta %}
    <meta name="description" content="{{page.meta}}">
    <meta name="og:description" content="{{page.meta}}">
    {% endif %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{{"/assets/css/kokkaku.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% if page.style %}
      {% for file in page.style %}
      <link rel="stylesheet" href="/assets/css/{{file}}">
      {% endfor %}
    {% endif %}
  <link rel="icon" href="/assets/img/caydeandroid-chrome-192x192 (1).ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/assets/img/cayde-favicon.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/caydeandroid-chrome-192x192 (1).ico">
		<link rel="apple-touch-icon" sizes="167x167" href="/assets/img/caydeandroid-chrome-192x192 (1).ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/caydeandroid-chrome-192x192 (1).ico">
    <title>{% if page.title %}{{page.title}} - {% endif %}Beats By Cayde</title>
	    
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="robots" content="noindex">
    
    <meta name="author" content="Adaptiva">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/kokkaku.css?v=77fa98760cff977ff83907a0d9085cb44e0096ef">
    <link rel="stylesheet" href="/assets/css/style.css">
    
      
      <link rel="stylesheet" href="/assets/css/player.css">
      
    
  <link rel="icon" href="/assets/img/caydeandroid-chrome-192x192 (1).ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="/assets/img/cayde-favicon.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/img/caydeandroid-chrome-192x192 (1).ico">
		<link rel="apple-touch-icon" sizes="167x167" href="/assets/img/caydeandroid-chrome-192x192 (1).ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/caydeandroid-chrome-192x192 (1).ico">
    <title>Player Profile - Beats By Cayde</title>
	    </head>
  <body class="playerProfile">
     <section class="roiNav">
  <div class="j-row vertical-center-row space-between">
    <a class="roiNav-logo" href="/" title="Back to beatsHomepage">
      <img src="/assets/img/caydeandroid-chrome-192x192 (2).png" alt="beats" width="26" height="25">
      <strong>Beats By Cayde
      </strong>
    </a>
    <div class="roiNav-trigger">
      <span></span>
      <span></span>
	  </div>
    </div>
	<nav id="primary_nav_wrap">
<ul>
  <li><a href="#">Crucible</a>
    <ul>
      <li><a href="/Leaderboards/allpvpleaderboard/">All PvP</a></li>
      <li><a href="/Leaderboards/controlleaderboard/">Control</a></li>
      <li><a href="/Leaderboards/ironbannerleaderboard/">Iron Banner</a></li>
      <li><a href="/Leaderboards/clashleaderboard/">Clash</a></li>
      <li id="li_633f_0"><a href="#">Doubles</a></li>
    </ul>
  </li>
  <li><a href="#">PvE</a>
    <ul>
       <li><a href="/Leaderboards/allpvpleaderboard/">All PvE</a></li>
      <li><a href="/Leaderboards/raidleaderboard/">Raids</a></li>
      <li><a href="/Leaderboards/nightfallleaderboard/">Nightfalls</a></li>
      <li><a href="/Leaderboards/strikeleaderboard/">Strikes</a></li>
        <li id="li_633f_1"><a href="#">Menagarie</a></li>
    </ul>
  </li>
  <li><a href="/Leaderboards/errorMessage/">PvEvP</a>
    <ul>
      <li class="dir"><a href="/Leaderboards/errorMessage/">Gambit</a></li>
      <li class="dir"><a href="/Leaderboards/errorMessage/">Gambit Prime</a>
</li></ul></li></ul></nav>
	
  <body{% if page.bodyclass %} class="{{page.bodyclass}}"{% endif %}>
    
    {{content}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    {% if page.js %}
      {% for file in page.js %}
      <script type="text/javascript" src="/assets/js/{{file}}"></script>
      {% endfor %}
    {% endif %}
	    </body>
	</div>
   
</html>
 {% include html/footer.html %}
