#animated-emblems {
  padding: 0;
  display: grid;
  margin: -40px auto 0;
  width: 100%;
}

#animated-emblems > .module.head {
  padding: calc(4rem + 40px) 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#animated-emblems > .module.head .page-header {
  margin-bottom: 0rem;
}

#animated-emblems > .padder {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}

#animated-emblems .row {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 300px auto;
}

#animated-emblems .row .description {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 56px auto;
}

#animated-emblems .row .description .item .list.inventory-items {
  grid-template-columns: repeat(1, 1fr);
}

#animated-emblems .row .description .name {
  font-size: 16px;
  margin: 0 0 4px;
}

#animated-emblems .row .description .animator {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
}

#animated-emblems .row .description .animator a i {
  font-size: 10px;
  margin: 0 0 0 4px;
}

#animated-emblems .row > .emblem {
  position: relative;
}

#animated-emblems .emblem .text {
  position: absolute;
  left: 10%;
  top: 50%;
}

#animated-emblems .emblem .displayName {
  position: relative;
  flex-basis: 100%;
  font-size: 1.4vw;
  letter-spacing: 0.1vw;
  line-height: 1;
  font-weight: 500;
  margin: 0.3vw 0 0.2vw;
}

#animated-emblems .emblem .displayName::before {
  content: ' ';
  position: absolute;
  top: -0.2vw;
  left: 0;
  width: 0.6vw;
  height: 0.11vw;
  background-color: rgba(255, 255, 255, 0.8);
}

#animated-emblems .emblem .basics {
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-size: 0.7vw;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

#animated-emblems .emblem .basics::before {
  content: '//\00A0';
}

#animated-emblems .emblem .basics .light {
  position: relative;
  margin: 0 0 0 0.6vw;
  font-weight: 500;
  color: #e5d163;
}

#animated-emblems .emblem .basics .light::before {
  content: 'l';
  position: absolute;
  top: 0.1vw;
  left: -0.5vw;
  font-family: 'destiny' !important;
  font-size: 0.4vw;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#animated-emblems .emblem .background {
  position: relative;
  width: 100%;
  height: unset;
  padding-bottom: calc(100% * 146 / 1958);
  background-color: rgba(255, 255, 255, 0.1);
}

#animated-emblems .emblem .background .image {
  background-position: center bottom;
  background-size: cover;
}

#animated-emblems .emblem .icon {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 5%;
  padding-bottom: 5%;
}




@media screen and (max-width: 1440px) {
  #animated-emblems .emblem .text {
    top: 40%;
  }

  #animated-emblems .emblem .icon {
    top: 40%;
  }
}

@media screen and (max-width: 1024px) {
  #animated-emblems .emblem .text {
    top: 30%;
  }

  #animated-emblems .emblem .icon {
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  #animated-emblems .row {
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }

  #animated-emblems .emblem .background {
    padding-bottom: calc(175% * 146 / 1958);
  }

  #animated-emblems .emblem .text {
    top: 40%;
    left: 16%;
  }

  #animated-emblems .emblem .displayName {
    font-size: 3.4vw;
    letter-spacing: 0.1vw;
    margin: 0.3vw 0 0.4vw;
  }
  
  #animated-emblems .emblem .displayName::before {
    top: -0.4vw;
    left: 0;
    width: 2vw;
    height: 0.3vw;
  }
  
  #animated-emblems .emblem .basics {
    letter-spacing: 0.2vw;
    font-size: 1.5vw;
  }
  
  #animated-emblems .emblem .basics .light {
    margin: 0 0 0 1.6vw;
  }
  
  #animated-emblems .emblem .basics .light::before {
    top: 0.25vw;
    left: -1.2vw;
    font-size: 1vw;
  }

  #animated-emblems .emblem .icon {
    top: 40%;
    width: 10%;
    padding-bottom: 10%;
  }
}

@media screen and (max-width: 600px) {
  #animated-emblems > .module.head {
    padding: calc(3rem + 40px) 2rem 2rem;
  }

  #animated-emblems > .padder {
    grid-gap: 2rem;
    padding: 2rem;
  }
}